<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志格式 -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 设置根日志级别为 INFO，使用控制台输出 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- 如果你只想对某个包开启 DEBUG，例如你的项目包 -->
    <!--
    <logger name="com.wy" level="DEBUG"/>
    -->

</configuration>